.cproject
.project
.settings
.pydevproject
/docs/doxygen.conf
*~
*#
*.pyc
/bin
/lib
/data

# any compil directories
/build
/build.*
/install
/.*install.*
/ldmx-sw-install

# magnetic field map file
BmapCorrected3D_13k_unfolded_scaled_1.15384615385.dat

